ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li a img, ul.share-buttons li{
  display: inline;
}

ul.share-buttons li a:hover {
  text-decoration: none;
}

.small-example pre code{
  font-size: 14px;
}
